<h1 mat-dialog-title>Il faut un point de départ</h1>
<div mat-dialog-content>
    <c2g-geolocate #geolocator></c2g-geolocate>
</div>
<div mat-dialog-actions>
    <button 
        mat-button 
        [disabled]="!geolocator.locationSet"
        mat-flat-button 
        color="primary"
        (click)="validateLocation()"
    >Valider l'adresse</button>
</div>