@import '../../../../../styles/variables.scss';

:host {
    .landing-background {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 100%;
        background: url('/assets/images/city.jpg') no-repeat center bottom fixed;
        background-size: cover;
        filter: blur(2px);
        opacity: .6;
    }
    .landing-content {
        position: fixed;
        top: 0;
        bottom: 0;
        text-align: center;
        width: 100%;
        padding: 0 20px;
        h1 {
            // font-size: 3rem;
            color: $primary;
            margin-bottom: 30px;
        }
        h3 {
            max-width: 700px;
        }
    }
    button {
        margin-top: 10px;
    }
}