<div class="landing-background"></div>
<div class="landing-content" fxLayout="column" fxLayoutAlign="center center">
    <h1 class="mat-display-2">Cool To Go!</h1>
    <h3 class="mat-title">Besoin de fraîcheur ou de vous protéger de la canicule ? Trouvez l'activité, le lieu ou l’événement en Isère pour vous rafraîchir au plus vite</h3>
    <button mat-raised-button color="primary" routerLink="/profil">c'est parti !</button>
</div>