<form class="example-form">
    <mat-form-field>
        <input 
            type="text" matInput 
            [formControl]="addressControl" 
            (keyup)="onKey($event)"
            aria-label="Addresse" 
            placeholder="Adresse de départ" 
            [matAutocomplete]="auto"
        >
        <button matSuffix mat-icon-button (click)="getCurrentLocation()" aria-label="geo-localisation">
            <mat-icon>my_location</mat-icon>
        </button>
        <mat-autocomplete 
            autoActiveFirstOption 
            #auto="matAutocomplete" 
            [displayWith]="addressDisplay"
            (optionSelected)="onSelectionChanged($event)"
        >
            <mat-option 
                *ngFor="let option of addressOptions" 
                [value]="option"
            >
                {{ option.properties.label }}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form>