@import '../../../styles/variables.scss';

:host::ng-deep {
    @include small-screen {
        .mapboxgl-ctrl-attrib-inner {
            font: 10px/16px 'Helvetica Neue', Arial, Helvetica, sans-serif; 
        }
    }
}