@import '../../../styles/variables.scss';

:host {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    .content {
        width: 100%;
        .brand {
            cursor: pointer;
            color: $primary;
            .logo {
                margin-right: 0.5rem;
                max-height: 2.5rem;
            }
            h1 {
                font-size: 2rem;
                font-family: 'Roboto Slab', serif;
            }
        }
        .actions, .filters {
            display: flex;
        }
        @include small-screen {
            .actions, .filters {
                display: none;
            }
        }
    }
    .mini-navbar {
        background-color: $primary;
        height: $navbar-height-lg;
        // display: none;
        @include small-screen {
            height: $mini-nav-height;
            display: flex;
        }
    }
}
::ng-deep {
    .filters-icon {
        height: 36px;
        border-radius: 18px !important;
        .mat-icon {
            font-size: 20px;
        }
    }
    .mini-filter-icon {
        font-size: 20px;
        height: 20px !important;
        width: 36px !important;
        text-align: center;
        &.actionable {
            color: $light;
        }
    }
    .mini-filters-content {
        width: 100%;
    }
    .mini-navbar {
        .wide-content {
            display: block;
            @include small-screen {
                display: none;
            }
        }
        .small-content {
            display: none;
            @include small-screen {
                display: block;
            }
        }
    }
}