<mat-toolbar>
    <div class="content" fxLayout="row" [fxLayoutAlign]="layoutAlign()">
        <div (click)="goHome()" class="brand" fxLayout="row" fxLayoutAlign="center center">
            <img class="logo" src="assets/images/fraicheur-inv.svg">
            <h1>Cool To Go</h1>
        </div>
        <div class="filters">
            <ng-content select="[filters]"></ng-content>
        </div>
        <div class="actions">
            <ng-content select="[actions]"></ng-content>
        </div>
    </div>
</mat-toolbar>
<mat-toolbar 
    *ngIf="actions" 
    class="mini-navbar"
>
    <ng-content select="[mini-filters]"></ng-content>
</mat-toolbar>