@import '../../../styles/variables.scss';

:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-align: center;
  background: $primary;
  p, h1 {
    color: $light;
  }
  img {
    margin-bottom: 1rem;
    border-radius: 5px;
  }
  h1 {
    font-weight: 300;
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 1rem;
  }
}
