@import '../../../../../styles/variables.scss';

:host {
    .container {
        min-height: 100%;
        width: 100%;
        .none-found {
            text-align: center;
            margin-top: 20px;
        }
    }
    .card-grid {
        max-width: 1200px;
        margin: 16px auto 0;
        display: grid;
        grid-gap: 1rem; 
        padding: 0 20px 20px 20px;
        a, a:visited {
            text-decoration: none;
            color: rgba(0, 0, 0, 0.54);
        }
    }
    @media (min-width: 600px) {
        .card-grid { 
            grid-template-columns: repeat(2, 1fr);
        }
    }
    @media (min-width: 900px) {
        .card-grid { 
            grid-template-columns: repeat(3, 1fr);
        }
    }
    .card-picture {
        border-radius: 4px;
        cursor: pointer;
        height: 350px;
        overflow: hidden;
        &.event {
            background-color: darken($light, 10%);
        }
        @media (min-width: 900px) {
            height: 320px;
        }
        &:hover {
            transform: scale(1.03);
        }
    }
    .card-header {
        padding: 1em 1em .8em 1em;
        .card-title {
            font-size: 1.2em;
            margin-bottom: 5px;
        }
        .card-subtitle {
            color: rgba(0, 0, 0, 0.54);
            font-size: .9em;
            margin-bottom: 4px;
        }
        .type-flag {
            background: $primary;
            padding: 2px 6px;
            color: $light-background !important;
            font-weight: 500;
            font-size: 9px;
            border-radius: 9px;
            margin-left: 6px;
            margin-right: 6px;
            &.event {
                background: $accent;
                color: #000;    
            }
        }
    }
    .card-content {
        img {
            object-fit: cover;
            width: 100%;
            height: 90%;
            max-height: 250px;
            margin: 0;
        }
        @media (min-width: 600px) {
            img {
                max-height: 250px;
            }
        }
        @media (min-width: 900px) {
            img {
                max-height: 215px;
            }
        }
    }
    .mat-icon {
        margin-right: 5px;
        height: 18px;
        width: 18px;
        font-size: 18px;
    }
    .categories {
        margin-left: 5px;
        border-left: 1px solid rgba(0, 0, 0, 0.54);
        padding-left: 5px;
        .category-shell {
            display: flex;
        }
    }
    ::ng-deep {
        .card-subtitle {
            .mat-icon {
                font-size: 1.4em;
                svg {
                    #icon-group {
                        fill: rgba(0, 0, 0, 0.54);
                    }
                }
            }
        }
        .list-loading {
            background-color: $light;
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            top: $navbar-height-lg;
            text-align: center;
            @include small-screen {
                top: $navbar-height-sm;
                bottom: $navbar-height-mobile;
            }
            .mat-progress-bar {
                position: absolute;
                top: $navbar-height-lg;
                @include small-screen {
                    top: 0;
                }
            }
        }
    }
}