<c2g-location-page class="container">
    <div *ngIf="!dataLoaded" class="list-loading">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        <div class="mat-headline">A la recherche de la fraîcheur...</div>
    </div>
    <div class="none-found" *ngIf="dataLoaded && locations.features.length === 0">
        Veuillez élargir ou modifier vos critères de recherche pour trouver des lieux de fraîcheur !
    </div>
    <div *ngIf="dataLoaded && locations.features.length > 0" class="card-grid">
        <a routerLink="/lieux/{{feature.properties.id}}" *ngFor="let feature of locations.features">
            <div class="card-picture mat-elevation-z8" [ngClass]="{'event' : isEvent(feature)}"
                fxLayout="column">
                <div class="card-header">
                    <div class="card-title">{{feature.properties.title}}</div>
                    <div class="card-subtitle" fxLayout="row wrap" fxLayoutAlign="stretch"  fxLayoutGap="10px">
                        <div><em>{{feature.properties.city}}</em></div>
                        <div class="type-flag" [ngClass]="{'event' : isEvent(feature)}">
                            {{ isEvent(feature) ? 'Evenement' : 'Lieu' }}
                        </div>
                        <div *ngIf="isEvent(feature)" class="type-dates">
                            {{formatDates(feature.properties.date_start,feature.properties.date_end)}}
                        </div>
                    </div>
                    <div class="card-subtitle" fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon aria-hidden="false" attr.aria-label="{{ (user$ | async)?.transport.label }}">
                            {{ (user$ | async)?.transport.icon }}
                        </mat-icon>
                        <div>{{ (feature.properties.travelTime / 60) | number:'1.0-1' }} min</div>
                        <div class="categories" fxLayout="row" fxLayoutAlign="start center">
                            <span class="category-shell" *ngFor="let category of dataService.getCategories(feature.properties.categories)">
                                <mat-icon *ngIf="category.icon_type === 'svg'" aria-hidden="false"
                                    svgIcon="{{ category.icon }}" attr.aria-label="{{ category.label }}" matTooltip="{{ category.label }}">
                                </mat-icon>
                                <mat-icon *ngIf="category.icon_type === 'material'" aria-hidden="false"
                                    attr.aria-label="{{ category.label }}" matTooltip="{{ category.label }}">
                                    {{ category.icon }}
                                </mat-icon>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="card-content">
                    <in-view>
                        <img *ngIf 
                            [src]="feature && feature.properties && feature.properties.images && feature.properties.images[0] ? 
                            feature.properties.images[0] : 'assets/images/not_found.png'"
                            onerror="this.src='assets/images/not_found.png';"
                        >
                    </in-view>
                </div>
            </div>
        </a>
    </div>

</c2g-location-page>