<c2g-navbar></c2g-navbar>
<div class="landing-background"></div>
<div class="landing-content">
    <button mat-button (click)="goBack()">
        <mat-icon aria-hidden="false" attr.aria-label="info">arrow_back</mat-icon>
        retour
    </button>
    <mat-divider></mat-divider>
    <h3 class="mat-h1">À propos de <em>« Cool To Go »</em></h3>
    <p>Cool To Go est une application web à l'état de prototype qui vise à proposer des lieux, des activités ou des
        événements aux habitants de la métropole grenobloise qui cherchent à se rafraîchir en proximité pendant les
        périodes de forte chaleur ou de canicule.</p>
    <p>L'application vise aussi à diffuser une information pertinente pour aider les habitants à s'adopter durant ces
        périodes dans leur quotidien, leur logement et leurs activités.</p>
    <p>Elle relayera également les mesures sanitaires et les messages d'alerte à la population en cas de déclenchement
        du plan canicule par les autorités préfectorales.</p>
    <div class="mat-h3">Genèse</div>
    <p>
        Pour répondre à un défi formulé par la Ville de Grenoble, une première version de Cool To Go sous forme de POC a
        été développée et a été Lauréat du <a href="https://grenoble.civiclab.eu/" target="_blank">Grenoble CivicLab
            2019</a> organisé par la <a href="https://turbine.coop    " target="_blank">Turbine.Coop</a>.
    </p>
    <p>
        Dans le cadre d'un projet étudiant accompagné par la Turbine.coop, un groupe d'apprenants de l'école <a
            href="https://auvergnerhonealpes.simplon.co/grenoble.html" target="_blank">Simplon</a> de la promotion "Data
        Developer" a étudié l'intégration de la base de données Apidae à Cool To Go et réalisé une interface de gestion
        des données Apidae pour créer un prototype en juillet 2020.
    </p>
    <div class="mat-h3">Technique</div>
    <p>Deux APIs sont utilisées par ce service :</p>
    <ul>
        <li>la base de données <a href="https://www.apidae-tourisme.com/" target="_blank">Apidae</a> pour les activités
            et événements pertinents en cas de fortes températures.</li>
        <li>l'API fournie par <a href="https://www.targomo.com/" target="_blank">Targomo</a> pour la localisation et le
            calcul de trajet selon le mode de transport et sa durée.</li>
    </ul>
    <div class="mat-h2">Mentions légales</div>
    <p>Aucune donnée à caractère personnelle n'est collectée par l'application.</p>
    <p>Cool to go est un projet partenarial regroupant la Ville de Grenoble, Grenoble Alpes Métropole, Targomo, Apidae,
        l'office du tourisme de Grenoble.</p>
    <p>Le projet est coordonné et porté par la <a href="https://turbine.coop" target="_blank">Turbine.Coop</a></p>
    <div class="mat-h3">Hébergement</div>
    <p>cooltogo.civiclab.eu est hébergé chez Infomaniak</p>
    <div class="mat-h3">Stockage Local</div>
    <p>L'application "CoolToGo" stocke des informations sur votre "profil" dans le stockage local du navigateur afin de permettre 
        aux préférences de l'utilisateur de persister entre les sessions. Ces informations ne sont jamais transmises, ni suivies, ni partagées.</p>
    <div class="mat-h3">Cookies analytics</div>
    <p>Pour mesurer l'audience et pour présenter des statistiques de fréquentation, nous utilisons Matomo Analytics
        (anciennement Piwik), un logiciel open-source hébergé sur nos serveurs qui nous permet d’être le propriétaire
        des données d’analyse que nous récoltons (contrairement à Google Analytics).</p>
    <p><b>_pk_* : </b>Cet ensemble de cookies est utilisé pour comprendre les
        actions des visiteurs sur la plateforme avec l’objectif d’améliorer le service proposé.</p>
    <p>Voici la liste des données anonymisées relatives à la navigation que nous
        collectons grâce à Matomo Analytics afin de mieux mesurer le trafic sur la plateforme : date et heure de la
        visite, titre et url des pages visitées, url de la page visitée avant la visite actuelle (Referer URL),
        résolution de l'écran, liens cliqués, géolocalisation approximative (déterminé pas la configuration de langue de l'ordinateur seulement), langue et type du navigateur.</p>
    <p><b>Nous avons configuré Matomo Analytics afin de ne pas collecter votre adresse IP. </b></p>
    <p>Vous pouvez à tout moment désactiver la collecte de ce type d’information :
    </p>
    <ol>
        <li>
            En paramétrant votre navigateur avec “Do Not Track” (“Ne pas pister”) Politique.
        </li>
        <li>
            En bloquant tous les cookies sur votre navigateur
            <ol type="a">
                <li>
                    <a href="http://windows.microsoft.com/fr-fr/internet-explorer/delete-manage-cookies#ie=ie-11"
                    target="_blank">Internet Explorer</a>
                </li>
                <li>
                    <a href="https://support.mozilla.org/fr/kb/activer-desactiver-cookies" target="_blank">Firefox</a>
                </li>
                <li>
                    <a href="http://support.apple.com/kb/index?page=search&amp;src=support_site.home.search&amp;locale=fr_FR&amp;q=cookie"
                    target="_blank">Safari</a>
                </li>
                <li>
                    <a href="https://support.google.com/accounts/answer/61416?hl=fr" target="_blank">Chrome</a>
                </li>
                <li>
                    <a href="http://help.opera.com/Windows/10.20/fr/cookies.html" target="_blank">Opera</a>
                </li>
            </ol>
        </li>
    </ol>
    <br>
    <div class="mat-h2">Attribution</div>
    <div class="mat-h3">Temps de transport</div>
    <a href="https://www.targomo.com/" target="_blank">
        <img src="https://targomo.com/developers/images/logo/tgm_logo_text_landscape_color.svg" width="280" height="100"
            style="background-color:rgba(255,255,255,0.5);padding:5px 15px;border-radius:6px;">
    </a>
    <div class="mat-h3">Base de données touristique</div>
    <a href="https://www.apidae-tourisme.com/" target="_blank">
        <img src="https://www.apidae-tourisme.com/wp-content/uploads/2017/07/logo-apidae.svg" width="280" height="100">
    </a>
    <br><br>
    <h3 class="mat-h3">Icones</h3>
    <ul>
        <li>
            <em>elderly</em>, <em>father and children</em>, <em>jump</em>, <em>people</em>, <em>wheelchair</em>,
            <em>child</em>, <em>caring</em>
            By Adrien Coquet, FR In the <a href="https://thenounproject.com/coquet_adrien/collection/peoples">Peoples
                Collection</a>
        </li>
    </ul>
</div>