@import '../../../../../styles/variables.scss';

:host {
    .landing-background {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 100%;
        background: url(/assets/images/city.jpg) no-repeat center bottom fixed;
        background-size: cover;
        filter: blur(2px);
        opacity: .5;
    }
    .landing-content {
        max-width: 760px;
        position: relative;
        margin: 16px auto;
        padding: 0 16px;
        @include body-spacer();
        iframe {
            border: none;
            border-radius: 6px;
        }
        mat-divider {
            margin: 10px 0 16px;
        }
    }
}