@import '../../../../../styles/variables.scss';

:host {
    .container {
        max-width: 900px;
        margin: 0 auto !important;
        padding: 25px;
        @include small-screen {
            padding: 10px;
            margin-bottom: $navbar-height-sm;
        }
        .page-title, .none-found {
            text-align: center;
        }
    }
    .card-picture {
        border-radius: 4px;
        cursor: pointer;
        overflow: hidden;
        &.event {
            background-color: darken($light, 10%);
        }
    }
    .card-header {
        padding: 1em 1em .8em 1em;
        .card-title {
            font-size: 1.2em;
            margin-bottom: 5px;
        }
        .card-subtitle {
            color: rgba(0, 0, 0, 0.54);
            font-size: .9em;
            margin-bottom: 4px;
        }
        .type-flag {
            background: $primary;
            padding: 2px 6px;
            color: $light-background !important;
            font-weight: 500;
            font-size: 9px;
            border-radius: 9px;
            margin-left: 6px;
            &.event {
                background: $accent;
                color: #000;    
            }
        }
        .type-dates {
            margin-left: 6px;
        }
    }
    .card-content {
        img {
            object-fit: cover;
            width: 100%;
            height: 90%;
            max-height: 350px;
            margin: 0;
        }
        @media (min-width: 600px) {
            img {
                max-height: 550px;
            }
        }
        @media (min-width: 900px) {
            img {
                max-height: 650px;
            }
        }
    }
    .location-details {
        padding: 10px;
    }
    .mat-icon {
        margin-right: 5px;
        height: 18px;
        width: 18px;
        font-size: 18px;
    }
    .categories {
        margin-left: 5px;
        border-left: 1px solid rgba(0, 0, 0, 0.54);
        padding-left: 5px;
        .category-shell {
            display: flex;
        }
    }
    ::ng-deep {
        .map-container {
            height: 500px;
            width: 100%;
            @include small-screen {
                height: 250px;
            }
            position: relative;
        }
        c2g-single-map {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            .map {
                height: 100%;
                width: 100%;
                margin: 0;
            }
        }
        .map-loading {
            background-color: $light;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1000;
            text-align: center;
            .mat-progress-bar {
                position: absolute;
                top: 0;
            }
        }
    }
}