<c2g-location-page>
    <div class="container">
        <div class="card-picture mat-elevation-z8" [ngClass]="{'event' : isEvent(location)}" fxLayout="column">
            <div class="card-header">
                <div class="card-title">{{location.title}}</div>
                <div class="card-subtitle" fxLayout="row" fxLayoutAlign="start center">
                    <div><em>{{location.city}}</em></div>
                    <div class="type-flag" [ngClass]="{'event' : isEvent(location)}">
                        {{ isEvent(location) ? 'Evenement' : 'Lieu' }}
                    </div>
                    <div *ngIf="isEvent(location)" class="type-dates">
                        {{formatDate(location.date_start)}} - {{formatDate(location.date_end)}}
                    </div>
                </div>
                <div class="card-subtitle" fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon aria-hidden="false" attr.aria-label="{{ (user$ | async)?.transport.label }}">
                        {{ (user$ | async)?.transport.icon }}
                    </mat-icon>
                    <div>{{ (travelTime / 60) | number:'1.0-1' }} min</div>
                    <div class="categories" fxLayout="row" fxLayoutAlign="start center">
                        <span class="category-shell" *ngFor="let category of categories">
                            <mat-icon *ngIf="category.icon_type === 'svg'" aria-hidden="false"
                                svgIcon="{{ category.icon }}" attr.aria-label="{{ category.label }}" matTooltip="{{ category.label }}">
                            </mat-icon>
                            <mat-icon *ngIf="category.icon_type === 'material'" aria-hidden="false"
                                attr.aria-label="{{ category.label }}" matTooltip="{{ category.label }}">
                                {{ category.icon }}
                            </mat-icon>
                        </span>
                    </div>
                </div>
            </div>
            <div class="card-content">
                <in-view>
                    <img *ngIf 
                        [src]="location  && location.images && location.images[0] ? 
                        location.images[0] : 'assets/images/not_found.png'"
                        onerror="this.src='assets/images/not_found.png';"
                    >
                </in-view>
                <div class="location-details">
                    <div class="mat-h3 title">Description</div>
                    <p class="mat-body location-description">
                        {{location.description || location.description_short || 'Description pas disponible ...'}}
                    </p>
                    <div class="mat-h3 title">Adresse</div>
                    <p class="mat-body location-description">
                        {{addressFormat(location.address, location.code_postal, location.city)}}
                    </p>
                    <div *ngIf="location.tel || location.mail || location.url">
                        <div class="mat-h3 title">Contact</div>
                        <p *ngIf="location.tel" class="mat-body location-description">{{location.tel}}</p>
                        <p *ngIf="location.mail" class="mat-body location-description"><a href="mailto:{{location.mail}}">{{location.mail}}</a></p>
                        <p *ngIf="location.url" class="mat-body location-description"><a href="{{location.url}}" target="_blank">{{location.url}}</a></p>
                    </div>
                    <div class="mat-h3 title">Localisation</div>
                </div>
                <div class="map-container">
                    <c2g-single-map #singlemap></c2g-single-map>
                    <div *ngIf="!dataAdded" class="map-loading">
                        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                        <div class="mat-headline">Chemin le plus rapide vers la fraîcheur en cours de calcul...</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</c2g-location-page>