@import 'themes/c2g-default-theme.scss';

$navbar-height-lg: 64px;
$navbar-height-mobile: 56px;
$mini-nav-height: 35px;
$navbar-height-sm: $mini-nav-height + $navbar-height-mobile;
$primary: #01289f;
$accent: #d89425;
$light: #bde8e5;
$warn: $light; // yeah, yeah, yeah...
// $light: $light-background;

$tablet-width: 600px;
$desktop-width: 1024px;

@mixin small-screen {
    @media (max-width: #{$tablet-width - 1px}) {
        @content;
    }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin body-spacer($expanded:false) {
    padding-top: $navbar-height-lg + $navbar-height-lg;
    @include small-screen {
        @if $expanded {
          padding-bottom: $navbar-height-mobile;
        }
        padding-top: $navbar-height-sm;
    }
}