@import '../../../../../styles/variables.scss';

:host {
    ::ng-deep {
        c2g-list-map {
            .list-map {
                position: fixed;
                bottom: 0;
                left: 0;
                right: 0;
                top: $navbar-height-lg + $navbar-height-lg;
                @include small-screen {
                    top: $navbar-height-sm;
                    bottom: $navbar-height-mobile;
                }
            }
        }
        .map-loading {
            background-color: $light;
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            top: $navbar-height-lg;
            text-align: center;
            @include small-screen {
                top: $navbar-height-sm;
                bottom: $navbar-height-mobile;
            }
            .mat-progress-bar {
                position: absolute;
                top: $navbar-height-lg;
                @include small-screen {
                    top: 0;
                }
            }
        }
    }
}