<c2g-location-page>
    <c2g-list-map #listmap></c2g-list-map>
    <div *ngIf="!dataAdded" class="map-loading">
        <mat-progress-bar  mode="indeterminate"></mat-progress-bar>
        <div class="mat-headline">A la recherche de la fraîcheur...</div>
    </div>
</c2g-location-page>