<c2g-navbar actions="true">
    <button mat-raised-button color="accent" filters fxLayout="row" fxLayoutAlign="center center"
        (click)="openSettingsDialog()" class="filters-icon">
        <mat-icon aria-hidden="false" attr.aria-label="paramètres">tune</mat-icon>
        <mat-icon aria-hidden="false" attr.aria-label="transport">{{ (user$ | async)?.transport.icon }}</mat-icon>
        {{ (user$ | async)?.maxTime/60 | number:'1.0-1' }} min
    </button>
    <div actions>
        <button mat-button color="primary" routerLink="/lieux/liste" routerLinkActive="mat-accent">
            <mat-icon aria-hidden="false" attr.aria-label="liste">format_list_bulleted </mat-icon>
            liste
        </button>
        <button mat-button color="primary" routerLink="/lieux/carte" routerLinkActive="mat-accent">
            <mat-icon aria-hidden="false" attr.aria-label="carte">map</mat-icon>
            carte
        </button>
        <button mat-button color="primary" routerLink="/apropos" routerLinkActive="mat-accent">
            <mat-icon aria-hidden="false" attr.aria-label="info">info</mat-icon>
        </button>
    </div>
    <div mini-filters class="mat-body-1 mini-filters-content" [ngClass]="{'single': singlePage}">
        <div *ngIf="!singlePage">
            <div class="wide-content">
                <div class="cat-tabs">
                    <div (click)="onTabChanged(tab)" class="cat-tab actionable"
                        [ngClass]="{'selected': isSelected(tab)}" *ngFor="let tab of filters; let index = index">
                        <mat-icon *ngIf="tab.icon_type === 'svg' && isSelected(tab)" matListIcon aria-hidden="false"
                            attr.aria-label="{{ tab.label }}" svgIcon="{{tab.icon}}-accent">
                        </mat-icon>
                        <mat-icon *ngIf="tab.icon_type === 'svg' && !isSelected(tab)" matListIcon aria-hidden="false"
                            attr.aria-label="{{ tab.label }}" svgIcon="{{tab.icon}}-light">
                        </mat-icon>
                        <mat-icon *ngIf="tab.icon_type === 'material'" matListIcon aria-hidden="false"
                            attr.aria-label="{{ tab.label }}">{{ tab.icon }}
                        </mat-icon>
                        <span class="cat-label">{{tab.label}}</span>
                        <div class="selected-bar"></div>
                    </div>
                </div>
            </div>
            <div class="small-content">
                <button mat-button color="warn" class="category-menu" [matMenuTriggerFor]="menu"
                    aria-label="catégories">
                    <span class="label">
                        <mat-icon *ngIf="selectedFilter.icon_type === 'svg'" matListIcon aria-hidden="false"
                            attr.aria-label="{{ selectedFilter.label }}" svgIcon="{{selectedFilter.icon}}-light">
                        </mat-icon>
                        <mat-icon *ngIf="selectedFilter.icon_type === 'material'" matListIcon aria-hidden="false"
                            attr.aria-label="{{ selectedFilter.label }}">{{ selectedFilter.icon }}
                        </mat-icon>
                        <span>{{selectedFilter.label}}</span>
                    </span>
                    <mat-icon>expand_more</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item *ngFor="let filter of filters" (click)="setFilter(filter)">
                        <mat-icon *ngIf="filter.icon_type === 'svg'" matListIcon aria-hidden="false"
                            attr.aria-label="{{ filter.label }}" svgIcon="{{ filter.icon  }}">
                        </mat-icon>
                        <mat-icon *ngIf="filter.icon_type === 'material'" matListIcon aria-hidden="false"
                            attr.aria-label="{{ filter.label }}">{{ filter.icon }}
                        </mat-icon>
                        <span>{{filter.label}}</span>
                    </button>
                </mat-menu>
            </div>
        </div>
        <div *ngIf="singlePage" class="back-button">
            <a mat-button routerLink="/lieux/liste" routerLinkActive="mat-primary">
                <mat-icon aria-hidden="false" attr.aria-label="liste">arrow_back</mat-icon>
                <span>retour à la liste</span>
            </a>
        </div>
    </div>
</c2g-navbar>
<div class="locations-content">
    <ng-content></ng-content>
</div>
<mat-toolbar *ngIf="showFooter()" class="actions-footer" color="accent" fxLayout="row"
    fxLayoutAlign="space-around center">
    <button mat-button (click)="openSettingsDialog()">
        <mat-icon aria-hidden="false" attr.aria-label="paramètres">tune</mat-icon>
    </button>
    <button mat-button routerLink="/lieux/liste" routerLinkActive="mat-primary">
        <mat-icon aria-hidden="false" attr.aria-label="liste">format_list_bulleted </mat-icon>
    </button>
    <button mat-button routerLink="/lieux/carte" routerLinkActive="mat-primary">
        <mat-icon aria-hidden="false" attr.aria-label="carte">map</mat-icon>
    </button>
    <button mat-button routerLink="/apropos" routerLinkActive="mat-primary">
        <mat-icon aria-hidden="false" attr.aria-label="info">info</mat-icon>
    </button>
</mat-toolbar>