@import '../../../../../styles/variables.scss';

:host {
    .locations-content {
        @include body-spacer(true);
        overflow-x: hidden;
    }
    .actions-footer {
        position: fixed;
        bottom: 0;
        z-index: 10;
    }
    .cat-tabs {
        width: 100%;
        display: flex;
        color: $light;
        height: $navbar-height-lg;
        .cat-tab {
            height: $navbar-height-lg;
            display: flex;
            align-items: center;
            margin: 0 12px;
            position: relative;
            flex-direction: column;
            justify-content: center;
            min-width: 80px;
            .selected-bar {
                display: none;
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 5px;
                background-color: $accent;
            } 
            &.selected {
                color: $accent;
                .selected-bar {
                    display: block;
                }
            }
            @media (min-width: 1000px) {
                flex-direction: row;
            }
            .cat-label {
                margin-left: 6px;
                display: none;
                @media (min-width: 800px) {
                    display: block;
                }
            }
        }
    }
    ::ng-deep .mini-filters-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        &.single {
            justify-content: start;
        }
        .back-button {
            color: $light;
        }
        .mat-button-wrapper {
            display: flex;
            justify-content: space-between;
            align-content: space-between;
            align-items: center;
            width: 100%;
            .label {
                display: flex;
                align-items: center;
                .mat-icon {
                    margin-right: 16px;
                }
            }
        }
    }
}