@import '../../../../../styles/variables.scss';

:host {
    .landing-background {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 100%;
        background: url('/assets/images/city.jpg') no-repeat center bottom fixed;
        background-size: cover;
        filter: blur(2px);
        opacity: .6;
    }
    .filter-grid {
        display: grid;
        grid-gap: .5rem;
        grid-template-columns: repeat(4, 1fr);
    }
    .profile-panel {
        position: relative;
        @include body-spacer();
        margin: 0 auto;
        max-width: 580px;
        min-width: 320px;
        width: 100%;
        padding-right: 20px;
        padding-left: 20px;
        padding-bottom: 20px;
        @include small-screen {
            max-width: 320px;
        }
        .profile-group {
            margin-bottom: 10px;
            .next-button {
                width: 100px;
            }
        }
        .mat-title {
            text-align: center;
            &:first-of-type {
                margin-top: 10px;
            }
        }
        .profile-contents {
            display: flex;
            margin: 10px auto 0;
            justify-content: center;
            .category {
                button {
                    height: 40px;
                    width: 100%;
                    max-width: 250px;
                    fill: currentColor;
                    stroke: currentColor;
                }
            }
            .mode-of-transport {
                width: 50%;
                &:after {
                    content: "";
                    display: block;
                    padding-bottom: 100%;
                }
                button {
                    width: 100px;
                    height: 100px;
                    mat-icon {
                        font-size: 48px;
                        height: 48px;
                        width: 48px;
                    }
                }
            }
        }
    }
    ::ng-deep {
        .filter-grid {
            button {
                height: 80px;
                margin: 0;
                .mat-button-wrapper {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    .button-text {
                        line-height: 28px;
                    }
                }
            }
        }
        .category-menu {
            width: 100%;
            .mat-button-wrapper {
                display: flex;
                justify-content: space-between;
                align-content: space-between;
                align-items: center;
                width: 100%;
                .label {
                    display: flex;
                    align-items: center;
                    .mat-icon {
                        margin-right: 16px;
                    }
                }
            }
        }
        .svg-icon-light {    
            svg {
                #icon-group {
                    fill: $light;
                }
            }
        }
    }
}