<c2g-navbar></c2g-navbar>
<div class="landing-background"></div>
<div class="profile-panel" fxLayout="column" fxLayoutAlign="center">
    <div class="profile-content">
        <div class="profile-group">
            <h3 class="mat-title">Je cherche</h3>
            <div *ngIf="smallScreen()" fxLayout="row wrap" fxLayoutAlign="flex-start">
                <button mat-raised-button color="primary"
                    class="category-menu"
                    [matMenuTriggerFor]="menu" 
                    aria-label="catégories">
                    <span class="label">
                        <mat-icon *ngIf="selectedFilter.icon_type === 'svg'" matListIcon aria-hidden="false"
                            attr.aria-label="{{ selectedFilter.label }}" svgIcon="{{selectedFilter.icon}}-light" class="svg-icon-light">
                        </mat-icon>
                        <mat-icon *ngIf="selectedFilter.icon_type === 'material'" matListIcon aria-hidden="false"
                            attr.aria-label="{{ selectedFilter.label }}">{{ selectedFilter.icon }}
                        </mat-icon>
                        <span>{{selectedFilter.label}}</span>
                    </span>
                    <mat-icon>expand_more</mat-icon>
                </button>
                <mat-menu class="category-menu-content" #menu="matMenu">
                    <button mat-menu-item *ngFor="let filter of filters" (click)="setFilter(filter)">
                        <mat-icon *ngIf="filter.icon_type === 'svg'" matListIcon aria-hidden="false"
                            attr.aria-label="{{ filter.label }}" svgIcon="{{ filter.icon  }}">
                        </mat-icon>
                        <mat-icon *ngIf="filter.icon_type === 'material'" matListIcon aria-hidden="false"
                            attr.aria-label="{{ filter.label }}">{{ filter.icon }}
                        </mat-icon>
                        <span>{{filter.label}}</span>
                    </button>
                </mat-menu>
            </div>
            <div *ngIf="!smallScreen()" class="filter-grid">
                <button mat-raised-button *ngFor="let filter of filters" 
                    [color]="filter.selected ? 'accent' : 'primary'"
                    (click)="setFilter(filter)">
                    <mat-icon *ngIf="filter.icon_type === 'svg'" matListIcon aria-hidden="false"
                        attr.aria-label="{{ filter.label }}" svgIcon="{{ filter.icon  }}-light">
                    </mat-icon>
                    <mat-icon *ngIf="filter.icon_type === 'material'" matListIcon aria-hidden="false"
                        attr.aria-label="{{ filter.label }}">{{ filter.icon }}
                    </mat-icon>
                    <span class="button-text">{{filter.label}}</span>
                </button>
            </div>
        </div>
        <div class="profile-group">
            <h3 class="mat-title">Mode de Transport Privilégié</h3>
            <div fxLayout="row wrap" fxLayoutAlign="space-evenly center">
                <div *ngFor="let mode of (user$ | async).transportModes" fxLayout fxLayoutAlign="center center"
                    class="mode-of-transport">
                    <button mat-fab (click)="setMode(mode)" [color]="mode.selected ? 'accent' : 'primary'"
                        [ngClass]="mode.selected ? 'mat-elevation-z5' : 'mat-elevation-z0'">
                        <mat-icon aria-hidden="false" attr.aria-label="{{ mode.label }}">{{ mode.icon }}</mat-icon>
                    </button>
                </div>
            </div>
        </div>
        <div class="profile-group">
            <h3 class="mat-title">Point de Départ</h3>
            <c2g-geolocate #geolocator></c2g-geolocate>
        </div>
        <div class="profile-group" fxLayout fxLayoutAlign="center">
            <button 
                (click)="validateLocation()" 
                [disabled]="!geolocator.locationSet || validating"
                fxLayout fxLayoutAlign="center" 
                class="next-button"
                mat-flat-button color="primary"
                [class.spinner]="validating"
            >
                en route !
            </button>
        </div>
    </div>
</div>