@import '../../../styles/variables.scss';

:host {
    .headline {
        .mat-icon {
            margin-right: 5px;
        }
    }
    c2g-geolocate {
        width: 100%;
    }
    .mat-dialog-actions > div {
        width: 100%;
    }
    .mat-form-field {
        width: 100%;
    }
}
::ng-deep {
    .list-select-menu {
        .mat-button-wrapper {
            display: flex;
            justify-content: space-between;
            align-content: space-between;
            align-items: center;
            width: 100%;
            .label {
                display: flex;
                align-items: center;
                .mat-icon {
                    margin-right: 16px;
                }
            }
        }
        mat-label {
            color: rgba(0, 0, 0, 0.54); 
            transform: scale(.8);
            transform-origin: left;
            align-self: start;
        }
        .mat-selection-list {
            padding: 4px 0;
            justify-content: space-between;
            outline: none;
            .mat-list-option {
                width: 40px;
                .mat-list-item-content {
                    padding: 8px 16px;
                    flex-direction: column;
                }
            }
        }
    }
}