<div mat-dialog-title fxLayout="row" fxLayoutAlign="space-between center">
    <div class="headline" fxLayout="row" fxLayoutAlign="center center">
        <mat-icon aria-hidden="false" attr.aria-label="paramètres">tune</mat-icon>
    </div>
</div>
<div mat-dialog-content>
    <div class="list-select-menu" fxLayout="column">
        <form [formGroup]="settingsForm">
            <div fxLayout="row">
                <mat-form-field>
                    <mat-label>Mode de déplacement</mat-label>
                    <mat-select (selectionChange)="setMode($event.value)" formControlName="modeControl">
                        <mat-option *ngFor="let mode of (user$ | async).transportModes" [value]="mode">
                            {{ mode.label }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxLayout="row">
                <mat-form-field>
                    <mat-label>Durée max. du trajet</mat-label>
                    <mat-select (selectionChange)="setTime($event.value)" formControlName="timeControl">
                        <mat-option *ngFor="let time of times" [value]="time.value">
                            {{ time.label }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxLayout="row">
                <c2g-geolocate #geolocator></c2g-geolocate>
            </div>
        </form>
        <mat-label>Mon profil</mat-label>
        <mat-selection-list #profileFilters [(ngModel)]="selectedProfiles" [compareWith]="filterCompare" fxLayout="row"
            (selectionChange)="setProfiles($event, profileFilters.selectedOptions.selected)">
            <mat-list-option *ngFor="let profile of profiles" [checkboxPosition]="before" [value]="profile"
                matTooltip="{{ profile.label }}">
                <mat-icon *ngIf="profile.icon_type === 'svg'" matListIcon aria-hidden="false"
                    attr.aria-label="{{ profile.label }}" svgIcon="{{ profile.icon  }}">
                </mat-icon>
                <mat-icon *ngIf="profile.icon_type === 'material'" matListIcon aria-hidden="false"
                    attr.aria-label="{{ profile.label }}">{{ profile.icon }}
                </mat-icon>
            </mat-list-option>
        </mat-selection-list>
    </div>
</div>
<div mat-dialog-actions>
    <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-button *ngIf="geolocator.locationSet && !geolocator.validLocation" mat-flat-button color="accent"
            (click)="geolocator.validateLocation()">
            Valider l'adresse
        </button>
        <button mat-button *ngIf="geolocator.locationSet && geolocator.validLocation" mat-flat-button color="primary"
            (click)="closeDialog()">
            fermer
        </button>
    </div>
</div>