/* You can add global styles to this file, and also import other style files */

@import 'styles/variables';
@import 'styles/themes';


html, body { margin: 0; background-color: $light; }
body { 
    padding: 0 0 0 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    .settings-panel {
        .mat-dialog-container {
            @include small-screen {
                border-radius: 0;
            }
        }
    }
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
    border-bottom-color: $primary;
}
.mapboxgl-popup .popup-content {
    padding: 0;
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
    border-top-color:  $light;
}
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    border-right-color:  $light;
}
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
    border-left-color:  $light;
}
.material-icons.popup-icon {
    font-size: 16px !important;
    margin-right: 5px;
    transform: translateY(3px);
}
.mat-icon.popup-icon {
    transform: translateY(3px);
    svg {
        height: 16px;
        width: 16px; 
        #icon-group {
            fill: $light;
        }
    }
}
.mapboxgl-popup-close-button {
    right: -2px;
    color: $light;
    z-index: 1;
    font-size: 12px;
}
.actionable {
    cursor: pointer;
}

@keyframes spinner {
    to {transform: rotate(360deg);}
}

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid $primary;
    border-top-color: $light;
    animation: spinner .8s linear infinite;
}