@import '../../../styles/variables.scss';

:host::ng-deep {
    .mapboxgl-popup {
        .mapboxgl-popup-content {
            padding: 0;
            .popup-content {
                .popup-image {
                    width: 100%;
                }
                .popup-header {
                    padding: 10px;
                    background-color: $primary;
                    color: $light;
                    flex-direction: column;
                    font: 500 15px/24px Roboto Slab;
                    .subtitle {
                        display: flex;
                        flex-direction: row;
                        font-size: 14px;
                        align-items: center;
                        .categories {
                            margin-left: 8px;
                            padding-left: 5px;
                            border-left: 1px solid $light;
                        }
                    }
                }
                .popup-body {
                    padding: 10px 10px 0 10px;
                }
                .actions {
                    padding: 10px;
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }    
    @include small-screen {
        .mapboxgl-ctrl-attrib-inner {
            font: 10px/16px 'Helvetica Neue', Arial, Helvetica, sans-serif; 
        }
    }
}